<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home_public') }}">
			<img src="{{ asset("/images/logo.jpg")}}" width="50" heigth="50" alt="logo de Univet">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home_public') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_documentation') }}">Documentation</a>
				</li>

				{# Liens pour les administrateurs #}
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Back-Office
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
							<li>
								<a class="dropdown-item" href="{{ path('app_user_index') }}">Gestion des Utilisateurs</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_admin_fournisseur_index') }}">Gestion des Fournisseurs</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_produit_index') }}">Gestion des Produits</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_produit_categorie_index') }}">Gestion des Categories</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_unite_index') }}">Gestion des Unites</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_conversion_standard_index') }}">Gestion des Conversion Standard</a>
							</li>
						</ul>
					</li>
				{% endif %}

				{# Menu Gestion de Stock #}
				{% if app.user %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStock" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-boxes"></i> Stock
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownStock">
							<li>
								<a class="dropdown-item" href="{{ path('app_stock_dashboard') }}">
									<i class="fas fa-chart-line"></i> Tableau de bord
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_stock_index') }}">
									<i class="fas fa-boxes"></i> État des stocks
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_stock_mouvements') }}">
									<i class="fas fa-history"></i> Historique
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item text-success" href="{{ path('app_stock_entree') }}">
									<i class="fas fa-plus-circle"></i> Entrée de stock
								</a>
							</li>
							<li>
								<a class="dropdown-item text-danger" href="{{ path('app_stock_sortie') }}">
									<i class="fas fa-minus-circle"></i> Sortie de stock
								</a>
							</li>
							<li>
								<a class="dropdown-item text-warning" href="{{ path('app_stock_ajustement') }}">
									<i class="fas fa-balance-scale"></i> Ajustement
								</a>
							</li>
						</ul>
					</li>
				{% endif %}

				{# Menu Gestion Vente #}
				{% if app.user %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-cash-register"></i> Ventes
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownVente">
							<li>
								<a class="dropdown-item" href="{{ path('app_vente_index') }}">
									<i class="fas fa-list"></i> Liste des ventes
								</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="{{ path('app_vente_new') }}">
									<i class="fas fa-plus-circle"></i> Nouvelle vente
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_client_index') }}">
									<i class="fas fa-users"></i> Clients
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_type_client_index') }}">
									<i class="fas fa-user-tag"></i> Types de clients
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_promotion_index') }}">
									<i class="fas fa-tag"></i> Promotions
								</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
