{% extends 'base.html.twig' %}

{% block title %}Détail de l'Unité{% endblock %}

{% block body %}
    <h1>Détail de l'Unité</h1>

    <table class="table table-bordered mt-4">
        <tbody>
            <tr>
                <th style="width: 20%;">Id</th>
                <td>{{ unite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ unite.nom }}</td>
            </tr>
            <tr>
                <th>Symbole</th>
                <td>{{ unite.symbole }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ unite.createdAt ? unite.createdAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ unite.updatedAt ? unite.updatedAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex mt-3">
        <a href="{{ path('app_unite_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_unite_edit', {'id': unite.id}) }}" class="btn btn-warning ms-2">Modifier</a>
        <div class="ms-auto">
            {{ include('unite/unite/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
