{% extends 'base.html.twig' %}

{% block title %}Conversion Standard{% endblock %}

{% block body %}
    <h1>Conversion Standard</h1>

    <table class="table">
        <tbody>
    <div class="card mt-4">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ conversion_standard.id }}</td>
                    </tr>
                    <tr>
                        <th>Unité d'Origine</th>
                        <td>{{ conversion_standard.uniteOrigine.nom }}</td>
                    </tr>
                    <tr>
                        <th>Unité Cible</th>
                        <td>{{ conversion_standard.uniteCible.nom }}</td>
                    </tr>
                    <tr>
                        <th>Facteur</th>
                        <td>{{ conversion_standard.facteur }}</td>
                    </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ conversion_standard.createdAt ? conversion_standard.createdAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ conversion_standard.updatedAt ? conversion_standard.updatedAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3 d-flex gap-2">
        <a href="{{ path('app_conversion_standard_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_conversion_standard_edit', {'id': conversion_standard.id}) }}" class="btn btn-warning">Modifier</a>
        {{ include('conversion_standard/_delete_form.html.twig') }}
    </div>
{% endblock %}
