{% extends 'base.html.twig' %}

{% block title %}Détail du Fournisseur{% endblock %}

{% block body %}
    <h1>Détail du Fournisseur</h1>

    <table class="table table-bordered mt-4">
        <tbody>
            <tr>
                <th style="width: 20%;">Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ fournisseur.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fournisseur.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fournisseur.email }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ fournisseur.createdAt ? fournisseur.createdAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ fournisseur.updatedAt ? fournisseur.updatedAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex mt-3">
        <a href="{{ path('app_admin_fournisseur_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_admin_fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-warning ms-2">Modifier</a>
        <div class="ms-auto">
            {{ include('admin/fournisseur/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
